<!--
- Marco UdeApps
- Authors
- Daniel Correa Arango
- Santiago Gómez Giraldo
- León David Osorio Tobón
- Copyright University of Antioquia 2017- All Rights Reserved
-->
<ion-view title="Acerca de">
    <ion-nav-buttons side="left">
        <img class="navbar-icon" ng-click="back()" src="img/left-arrow-icon.png">
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <img ng-click="logout()" class="navbar-icon" src="img/power-off-icon.png">
    </ion-nav-buttons>
    <ion-content>
        <div id="credits-pi-container">
            <div id="credits-pi">
                <h3>Créditos</h3><br>
                <h4>Desarolladores</h4>
                <h5>Daniel Correa Arango</h5>
                <h5>Santiago Gómez Giraldo</h5>
                <h5>León David Osorio Tobón</h5><br>
                <h4>Agradecimientos</h4>
                <h5>Luís Hernando Silva</h5>
                <h5>Gustavo Andrés Marín</h5><br>
                <h4>Versión</h4>
                <h5>0.8.0</h5><br><br>
                <h5>Marco UdeApps. Todos los Derechos Reservados</h5>
                <h5>Universidad de Antioquia</h5>
                <h5>Departamento de Ingeniería de Sistemas</h5>
                <h5>Medellín, 2017</h5>
            </div>
        </div>
    </ion-content>
</ion-view>