<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="co.edu.udea.udeapps" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>UdeApps</name>
  <description>&#xD;
        UdeApps. Un proyecto del Departamento de Ingeniería de Sistemas de la Universidad de Antioquia.&#xD;
    </description>
  <author email="leond.osorio@udea.edu.com" href="http://facebook.com/leoto17">&#xD;
      León David Osorio Tobón&#xD;
 </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="SplashScreenDelay" value="2000"/>
  <preference name="FadeSplashScreenDuration" value="2000"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="screen"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <platform name="android">
    <icon src="resources/android/icon/mipmap-ldpi/icon.png" density="ldpi"/>
    <icon src="resources/android/icon/mipmap-mdpi/icon.png" density="mdpi"/>
    <icon src="resources/android/icon/mipmap-hdpi/icon.png" density="hdpi"/>
    <icon src="resources/android/icon/mipmap-xhdpi/icon.png" density="xhdpi"/>
    <icon src="resources/android/icon/mipmap-xxhdpi/icon.png" density="xxhdpi"/>
    <icon src="resources/android/icon/mipmap-xxxhdpi/icon.png" density="xxxhdpi"/>
  </platform>
</widget>
